<!--<ActionBar title="SideDrawer Button">
  <android>
    <NavigationButton icon="res://ic_menu" tap="showSlideout"></NavigationButton>
  </android>
  <ios>
    <ActionItem icon="res://ic_menu" ios.position="left" tap="showSideDrawer"></ActionItem>
  </ios>
</ActionBar>-->
<ActionBar title="ActionBar title">

	<!--<NavigationButton android.systemIcon="ic_menu_back" text="Atras" (tap)="goBack()"></NavigationButton>
    
    <NavigationButton android.systemIcon="ic_menu" text="Menu" (tap)="openDrawer()"></NavigationButton>
    -->
	<ActionItem (tap)="goBack()" ios.systemIcon="9" ios.position="left" android.systemIcon="ic_menu_back" android.position="actionBar"></ActionItem>
	<ActionItem (tap)="openDrawer()" ios.systemIcon="9" ios.position="left" android.systemIcon="ic_menu_account_list" android.position="actionBar"></ActionItem>
</ActionBar>
<RadSideDrawer exampleTitle toggleNavButton>
	<StackLayout tkDrawerContent class="sideStackLayout">
		<GridLayout rows="auto,40"  class="sideTitleStackLayout">
			<Image src="res://imagen_side" rowSpan="2" stretch="aspectFit"></Image>
			<StackLayout row="1" vertical-align="bottom" *ngIf="profile">
				<Label  class="sideLabel" horizontal-align="left" [text]='profile.email'></Label>
				<Label  class="sideLabel" horizontal-align="left" [text]='profile.name'></Label>
			</StackLayout>
		</GridLayout>

		<StackLayout  class="sideStackLayout">
			<ListView [items]="myItems" (itemTap)="onItemTap($event)">
				<template let-item="item" let-i="index" let-odd="odd" let-even="even">
					<GridLayout columns="50,auto" horizontal-aling="stretch" [class.odd]="odd" [class.even]="even">
							<Label  marginLeft="10" marginBottom="10" marginTop="10" class="fa" [text]='item.Icon | fonticon'></Label>
							<Label col="1" textWrap="true" horizontal-aling="stretch" [text]='item.Name'></Label>
					</GridLayout>
				</template>
			</ListView>
		</StackLayout>
	</StackLayout>
	<StackLayout tkMainContent>
		<router-outlet></router-outlet>
	</StackLayout>
</RadSideDrawer>