
.drawerContentText {
    font-size: 13;
    padding: 10;
}

.sideStackLayout {
    background-color: white;
}

.sideTitleStackLayout {
    padding: 10;
    text-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}



/*.odd {
    background-color: red;
}

.even {
    background-color: blue;
}*/