<StackLayout  *ngIf="news">
	<ListView [items]="news" (itemTap)="onItemTap($event)">
        <template let-item="item" let-odd="odd" let-even="even">
            	<GridLayout class="listItemTemplateGrid">
				<GridLayout verticalAlignment="bottom">
					<Border borderRadius="10" borderWidth="0.5" borderColor="#BDBDBD">
						<StackLayout height="50"  class="labelsStackLayoutNews" orientation="horizontal">
							<Image height="30" width="50" [src]="item.Image"></Image>
							<!--<FrescoDrawee height="30" width="50" [placeholderImageUri]="item.Image"></FrescoDrawee>-->
							<Label textWrap="true" verticalAlignment="center" marginLeft="20" marginRight="10" [text]="item.Title"></Label>
						</StackLayout>
					</Border>
				</GridLayout>
			</GridLayout>            
        </template>
		
    </ListView>
</StackLayout>