<RadSideDrawer exampleTitle toggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <ListView [items]="myItems" (itemTap)="onItemTap($event)">
                <template let-item="item" let-i="index" let-odd="odd" let-even="even">
                  <StackLayout orientation="horizontal" [class.odd]="odd" [class.even]="even">                      
                      <Label [text]='"[" + item.id +"] " + item.name'></Label>
                  </StackLayout>
              </template>
            </ListView>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label>
        <Button text="OPEN DRAWER" (tap)=openDrawer()></Button>

        <ListView [items]="news" (itemTap)="onItemTap($event)">
            <template let-item="item" let-odd="odd" let-even="even">
                <Label [text]="item.Message" textWrap="true"></Label>                
            </template>
        </ListView>


    </StackLayout>
</RadSideDrawer>